.editor {
	box-sizing: border-box;
	height: 100%;
	width: 70%;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	flex-grow: 1;
}

.editor-main {
	box-sizing: border-box;
	height: fit-content;
	min-width: 70%;
	background-color: orange;
	padding: 1rem;
}

.editor-sidebar {
	box-sizing: border-box;
	background-color: blue;
	padding: 1rem;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}

@media only screen and (max-width: 800px) {
	.editor {
		width: 100%;
		max-width: none;
		flex-direction: column;
	}

	.editor-main {
		width: 100%;
		min-width: none;
		padding: 0.5rem;
	}

	.editor-sidebar {
		flex-grow: 0;
		padding: 0.5rem;
	}
}
