html {
	height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
	color: #b1b1b1;
	background: #171717;
	font-family: sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1rem;
	padding: 2rem 0.75rem;
	background-color: #0b0b0b;
	flex-grow: 0;
	flex-shrink: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	margin: 0;
}

footer {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	padding: 2rem 0.75rem;
	color: #b1b1b1;
	background-color: #121212;
	width: 100%;
	flex-grow: 0;
	flex-shrink: 0;
}

footer:before {
	content: "Deved by Me. All rights reserved ? How does it work really ?";
}

input {
	background-color: inherit;
	color: inherit;
	font-size: inherit;
}

button, .button {
	background-color: inherit;
	color: inherit;
	padding: 0.5rem 1rem;
	border: 0.1rem solid;
	border-radius: 0.5rem;
	text-align: center;
	display: inline-block;
	font-size: inherit;
}

button:hover:not(:disabled), .button:hover:not(:disabled) {
	color: #171717;
	background-color: #b1b1b1;
	transition-duration: 0.4s;
}

button:disabled, .button:disabled {
	filter: opacity(0.3);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-field {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.5rem;
}

.form-field:last-child {
	margin-top: 0.75rem;
	justify-content: space-around;
}

@media only screen and (max-width: 800px) {
	header {
		font-size: 1.5rem;
		padding: 1rem 0.75rem;
	}

	body {
		font-size: 1.5rem;
	}

	footer:before {
		content: none;
	}

	.form {
		gap: 0.25rem;
	}

	.form-field {
		flex-direction: column;
	}
}
