#pepe-upload {
	display: flex;
	flex-direction: column;
}

#pepe-upload-toolbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin: auto;
}

#pepe-upload-preview-img {
	width: 100%;
}

#pepe-upload-capture-video {
	width: 100%;
}

input[type="file"] {
	display: none;
}

label.button {
	box-sizing: border-box;
}

button, .button {
	width: 100%;
}
