:host {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

pepe-post {
	gap: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

pepe-post[full] {
	box-sizing: border-box;
	padding: 1rem;
	border: 0.1rem solid;
	border-radius: 0.5rem;
}

.checkbox {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
}

#empty-gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

#empty-gallery > img {
	width: 50%;
}

#empty-gallery[hidden] {
	display: none;
}

@media only screen and (max-width: 800px) {
	:host {
		gap: 1rem;
		max-width: 90%;
		margin: 0.5rem auto;
	}

	pepe-post {
		align-items: center;
		gap: 0.5rem;
	}

	pepe-post[full] {
		padding: 0.5rem;
	}
}
