a {
	text-decoration: none;
	color: #03f200;
	font-size: 2rem;
}

a:before {
	content: "Pepecam";
}

button {
	background-color: inherit;
	color: #03f200;
	padding: 0.5rem 1rem;
	border: 0.1rem solid #03f200;
	border-radius: 0.5rem;
	text-align: center;
	display: inline-block;
	font-size: inherit;
	transition-duration: 0.4s;
}

input {
	background-color: inherit;
	color: inherit;
	font-size: inherit;
}

button:hover {
	background-color: #03f200;
	color: #0b0b0b;
}

.user-actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}

dialog {
	background-color: inherit;
	color: inherit;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-field {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.5rem;
}

.form-field:last-child {
	margin-top: 0.75rem;
	justify-content: space-around;
}

@media only screen and (max-width: 800px) {
	a {
		font-size: 2.5rem;
	}

	a:before {
		content: "P";
	}

	.form {
		gap: 0.25rem;
	}

	.form-field {
		flex-direction: column;
	}
}
