:host {
	--text-color: var(--green);
	--background-color: var(--black);

	color: var(--text-color);
	background-color: var(--background-color);
}

a {
	color: inherit;
	text-decoration: none;
}

#app-name {
	font-size: 2rem;
	font-weight: bold;
}

#app-name:before {
	content: "Pepecam";
}

.nav-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
}

.user-actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}

.user-actions[hidden] {
	display: none;
}

dialog {
	--text-color: var(--light-grey);

	color: var(--text-color);
	background-color: inherit;
}

@media only screen and (max-width: 800px) {
	#app-name {
		font-size: 2.5rem;
	}

	#app-name:before {
		content: "P";
	}

	.nav-menu {
		display: none;
	}
}
